<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </nav>
    </header>
    <main class="container">
      <h1>Site Name</h1>
      <img src="images/dog.jpg" alt="Puppy on human" />
      <img src="images/puppy.jpg" alt="Solo Puppy" />
    </main>
    <footer class="container">
      <p>&copy; 2023 Cindy Lopez</p>
    </footer>
  </body>
</html>
