body {
    font-family:Gill Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 18px;
    
}

header {
    text-align: center;
    background-color: #ff8c00;
    padding: 20px;
    font-family: chalkduster, fantasy;
}

h1 {
    color: #fff;
    font-size: 36px;
}

section {
    padding: 20px;
    text-align: justify;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    border-color: #ff8c00;
}

        .image1 {
            width: 200%;
            height:auto;
           
        }
    
        .image2 {
            width: 50%;
            height: auto;
          
        }

.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: auto;
    /* Added overflow option */
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav a {
    text-decoration: none;
  
    margin-left: 50px;
    background: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ff8c00;
}

nav a:hover {
    color:#ff8c00;
    background: #fff;
}
